@tailwind base;
@tailwind components;
@tailwind utilities;

.light {
    --bg-color: #f5f5f5;
}

.dark {
    --bg-color: #111;
}

body {
    background-color: var(--bg-color);
}

.highlight {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* background-color: var(--highlight); */
    background-color: red;
    z-index: -1;
    border-radius: 25em;
}
